/***************  GLOBAL ***********************/
html {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
}

/***************** Header *********************/

header {
    /* items */
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    /*Cores e fontes */
    color:#333333;
    text-decoration: none;
    background: #85CDF5;
}

h1 {
    /*posição*/
    text-align: center;

    /*Tamanho*/
}

h2 {
    /*posição*/
    text-align:center;

    /*Tamanho*/
}


/*********************** Footer *******************/

footer {
    /* items */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    

    /*Cores e fontes */
    color: white;
    background: #333333;
}

#info_text {
    translate: -125px;
}

.linha {
    display: flex;
    margin-bottom: 10px;
    max-width: 400px;
}

.linha img {
    margin-right: 10px;
}

iframe {
    width: 250px;
    height: 170px;
}



/**************** HOME PAGE *********************/

.sec_lobo {
    /* background*/
    width: auto;
    height: 600px;;
    background-image: url("images/homePage_body_lobo-image.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    /*texto e fonte */
    color: white;
    align-items: center;
}

.sec_sobre {
    /* background*/
    width: auto;
    height: 350px;
    background-color: #2C5680;
}

.sec_valores {
    background-color:#333;
}

.sub_sec_valores {
    /* background*/
    display: flex;
    justify-content: center;
    height:625px;
}


/*****************  LISTA LOBINHOS  ***********************/

.container{
    width:auto;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar input{
    flex: 1;
    border: 1;
    height: 10px;
    width: 800px;
    padding: 5px 5px;
    
}

.search_bar img{
    height: 30px;
}

/*****************  ADOTAR LOBINHO  ***********************/

#new_wolf {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.top_adotar {
    display: inline;
}

.box_first {
    display: inline;
}

.id {
    font-size: 10px;
}
